<div class="row justify-content-center" *ngIf="characters$ | async as character">
    <div class="col-xs-12 col-sm-6 col-md-4 mt-4 justify-content-center" >
        <div class="card">
            <div class="image">
                <img [src]="character.image" class="card-img-top">
             </div>
            <div class="card-inner">
                <div class="header">   
                    <h2>{{character.name}}</h2> 
                    <h4 class="text-muted">{{character.status}}</h4>
                    <ul>
                        <ol><small>{{character.species}}</small></ol>
                        <ol><small>{{character.gender}}</small></ol>
                        <ol><small>{{character.created | date}}</small> </ol>
                    </ul>                     
                </div>
            </div>
        </div>       
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-md-4 mt-4 d-flex justify-content-around" >
    <button class="btn btn-primary" [routerLink]="['/chapters']">
        Lista Capitulos
    </button>
    
    <button (click)="goback()" class="btn btn-dark">
            Volver
    </button>
</div>
</div>
